<div>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand" style="color: #1e88e5">Test</div>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ><a ui-sref-active="active" ui-sref="app.page1" title="page1"><i
							class="glyphicon glyphicon-list-alt margin-right-10"></i>page1</a></li>
					<li ><a ui-sref-active="active" ui-sref="app.page2" title="page2"><i
							class="glyphicon glyphicon-list-alt margin-right-10"></i>page2</a></li>

				</ul>


			</div>
		</div>
	</nav>
</div>